.Calculator {
	border: 1px solid #cccccc;
	box-shadow: 10px 10px 30px 0px;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 560px;
}

.keys {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	padding: 10px;
	margin: auto;
}

.button {
	height: 60px;
	width: 85px;
	margin: 5px;
	padding: 5px;
	background-color: aliceblue;
	border-radius: 5px;
	border: 1px solid #c4c4c4;
	background-color: transparent;
	font-size: 2rem;
	color: #333;
	background-image: linear-gradient(
		to bottom,
		transparent,
		transparent 50%,
		rgba(0, 0, 0, 0.04)
	);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
		inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
		inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

.button:hover {
	background-color: #eaeaea;
}

.operator {
	color: seashell;
	background-color: darkcyan;
}
.operator:hover {
	background-color: rgb(62, 181, 185);
}

.clear {
	background-color: #f0595f;
	border-color: #b0353a;
	color: snow;
}

.clear:hover {
	background-color: tomato;
}

.equal-sign {
	background-color: #1aaceb;
	border-color: #1ca8e4;
	color: snow;
}

.equal-sign:hover {
	background-color: rgb(7, 226, 255);
}
